[Unit]
Description=AlertManager Server Service
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=Simple
ExecStart=/usr/local/bin/alertmanager --config.file /home/kalka/prometheusAlertManager/alertmanager.yml

#    --storage.tsdb.path /home/kalka/alertmanager

[Install]
WantedBy=multi-user.target
